<!doctype html>
<html>  
  <head>
    <title>Apache CloudStack: Open Source Cloud Computing</title>

    <meta name="description" content="CloudStack is open source cloud computing software for creating, managing, and deploying infrastructure cloud services">

    <meta itemprop="name" content="Apache Cloudstack">
    <meta itemprop="description" content="CloudStack is open source cloud computing software for creating, managing, and deploying infrastructure cloud services">
    <meta itemprop="image" content="https://cloudstack.apache.org/images/monkey-144.png">

    <meta property="og:title" content="Apache Cloudstack">
    <meta property="og:description" content="CloudStack is open source cloud computing software for creating, managing, and deploying infrastructure cloud services">
    <meta property="og:site_name" content="Apache Cloudstack"/>
    <meta property="og:image" content="https://cloudstack.apache.org/images/monkey-144.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Apache Cloudstack">
    <meta name="twitter:description" content="CloudStack is open source cloud computing software for creating, managing, and deploying infrastructure cloud services">
    <meta name="twitter:image:src" content="https://cloudstack.apache.org/images/monkey-144.png">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">

    <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/bootswatch.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" href="images/favicon.ico">

<!-- Commenting out this template stuff until we figure out how to make it work with middleman
    {% if headers.atom %}
      <link rel="alternate" href="{{ headers.atom.url }}"
            type="application/atom+xml" title="{{ headers.atom.title }}" />
    {% endif %}

    {% if headers.base %}<base href="{{ headers.base }}" />{% endif %}
-->
<!--    {% if headers.notice %}{{ headers.notice }}{% endif %} -->
        <!-- Twitter Bootstrap and jQuery after this line. -->
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script>
            $('.dropdown-toggle').dropdown();
            $('.nav-collapse').collapse();
        </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"><img class="" src="images/new-logo-sm.png" style="width: 200px" alt="Apache Cloudstack"></a>
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="about">About <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="about">
                <li><a tabindex="-1" href="about.html">About</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="https://blogs.apache.org/cloudstack/" target="_blank">Blog<span class="glyphicon glyphicon-share-alt pull-right"></span></a></li>
                <li><a tabindex="-1" href="http://planet.apache.org/cloudstack/" target="_blank">Planet</a></li>
                <li><a tabindex="-1" href="history.html">History</a></li>
                <li><a tabindex="-1" href="features.html">Features</a></li>
                <li><a tabindex="-1" href="cloudstack-faq.html">FAQ</a></li>
                <li><a tabindex="-1" href="who.html">Who We Are</a></li>
                <li><a tabindex="-1" href="security.html">Security</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="community">Community <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="community">
                <li><a tabindex="-1" href="contribute.html">Get Involved</a></li>
                <li><a tabindex="-1" href="developers.html">Developers</a></li>
                <li><a tabindex="-1" href="mailing-lists.html">Mailing Lists</a></li>
                <li><a tabindex="-1" href="http://lanyrd.com/topics/apache-cloudstack/" target="_blank">Events &amp; Meetups <span class="glyphicon glyphicon-share-alt pull-right"></span></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="users">Users <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="users">
                <li><a tabindex="-1" href="users.html">Known Users</a></li>
                <li><a tabindex="-1" href="https://cwiki.apache.org/confluence/display/CLOUDSTACK/Case+Studies" target="_blank">Case Studies <span class="glyphicon glyphicon-share-alt pull-right"></span></a></li>
                <li><a tabindex="-1" href="survey.html">Take Survey</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="docs">Documentation <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="docs">
                <li><a tabindex="-1" href="http://docs.cloudstack.apache.org" target="_blank">Getting Started Docs</span></a></li>
                <li><a tabindex="-1" href="http://docs.cloudstack.apache.org/projects/cloudstack-installation" target="_blank">Installation Docs</a></li> 
                <li><a tabindex="-1" href="http://docs.cloudstack.apache.org/projects/cloudstack-administration" target="_blank">Administration Docs</a></li>
                <li><a tabindex="-1" href="http://docs.cloudstack.apache.org/projects/cloudstack-release-notes" target="_blank">Release Notes</a></li>
                <li><a tabindex="-1" href="https://cwiki.apache.org/confluence/display/CLOUDSTACK/Home" target="_blank">Wiki</a></li>
                <li><a tabindex="-1" href="https://cwiki.apache.org/confluence/display/CLOUDSTACK/CloudStack+Books" target="_blank">Books</a></li>
                <li><a tabindex="-1" href="api.html">API Documentation</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a tabindex="-1" href="downloads.html">CloudStack Releases</a></li>
                <li><a tabindex="-1" href="downloads.html#cloudmonkey">CloudMonkey</a></li>
                <li><a tabindex="-1" href="downloads.html#archives">Release Archive</a></li>
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="apache">Apache <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="apache">
				<li><a tabindex="-1" href="http://apache.org">Apache Software Foundation</a></li>
                <li><a tabindex="-1" href="http://www.apache.org/licenses/">License</a></li>
                <li><a tabindex="-1" href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                <li><a tabindex="-1" href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
              </ul>
            </li>
          </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bs-docs-section">
            <!-- ordering is by username
PMC members are listed in both the PMC member section and the Committer section
-->

<div class="row">

<div class="col-lg-12">

<div class="page-header">

<h1 id="indicators">Apache CloudStack: Project Membership</h1>

</div>

</div>

</div>

<p>This page includes all of the Apache CloudStack Project Management Committee (PMC) members and committers, and their ASF usernames.</p>

<h2 id="pmc">PMC</h2>

<p><strong>Alena Prokharchyk</strong> (alena1108)</p>

<p><strong>Alex Huang</strong> (ahuang)</p>

<p><strong>Alex Karasulu</strong> (akarasulu)</p>

<p><strong>Animesh</strong> (animesh)</p>

<p><strong>Chip Childers</strong> (chipchilders)</p>

<p><strong>Chiradeep Vittal</strong> (chiradeep)</p>

<p><strong>Daan</strong> (dahn)</p>

<p><strong>David Nalley</strong> (ke4qqq)</p>

<p><strong>Disheng Su</strong> (edison)</p>

<p><strong>Giles Sirett</strong> (giles)</p>

<p><strong>Go Chiba</strong> (gochiba)</p>

<p><strong>Hugo Trippaers</strong> (hugo)</p>

<p><strong>Ian Duffy</strong> (duffy)</p>

<p><strong>Ilya Musayev</strong> (ilya)</p>

<p><strong>Jim Jagielski</strong> (jim)</p>

<p><strong>Joe Brockmeier</strong> (jzb)</p>

<p><strong>John Burwell</strong> (jburwell)</p>

<p><strong>John Kinsella</strong> (jlk)</p>

<p><strong>Kevin Kluge</strong> (kluge)</p>

<p><strong>Marcus Sorensen</strong> (mlsorensen)</p>

<p><strong>Mark R. Hinkle</strong> (mrhinkle)</p>

<p><strong>Matt Richard Hogstrom</strong> (hogstrom)</p>

<p><strong>Mike Tutkowski</strong> (mtutkowski)</p>

<p><strong>Mohammad Nour El-Din</strong> (mnour)</p>

<p><strong>Noah Slater</strong> (nslater)</p>

<p><strong>Olivier Lamy</strong> (olamy)</p>

<p><strong>Pierre-Luc Dion</strong> (pdion891)</p>

<p><strong>Prasanna</strong> (tsp)</p>

<p><strong>Rajani Karuturi</strong> (rajani)</p>

<p><strong>Sebastien Goasguen</strong> (sebgoa)</p>

<p><strong>Wido den Hollander</strong> (widodh)</p>

<p><strong>William Chan</strong> (willchan)</p>

<h2 id="committers">Committers</h2>

<p><strong>Abhinandan Prateek</strong> (aprateek)</p>

<p><strong>Ahmad Emneina</strong> (ahmad)</p>

<p><strong>Amogh Vasekar</strong> (amoghvk)</p>

<p><strong>Anh Tu Nguyen</strong> (tuna)</p>

<p><strong>Anthony Xu</strong> (anthonyxu)</p>

<p><strong>Brett Porter</strong> (brett)</p>

<p><strong>Brian Federle</strong> (bfederle)</p>

<p><strong>Bruno Demion</strong> (milamber)</p>

<p><strong>Chris Suich</strong> (csuich2)</p>

<p><strong>Clayton Weise</strong> (claytonweise)</p>

<p><strong>Darren Shepherd</strong> (darren)</p>

<p><strong>Dave Cahill</strong> (dcahill)</p>

<p><strong>Demetrius Tsitrelis</strong> (demetriust)</p>

<p><strong>Devdeep Singh</strong> (devdeep)</p>

<p><strong>Erik Weber</strong> (erikw)</p>

<p><strong>Funs Kessen</strong> (snuf)</p>

<p><strong>Gaurav Nandkumar Aradhye</strong> (gaurav)</p>

<p><strong>Gavin Lee</strong> (gavinlee)</p>

<p><strong>Geoff Higginbottom</strong> (higster)</p>

<p><strong>Girish Prabhakar Shilamkar</strong> (girish)</p>

<p><strong>Harikrishna Patnala</strong> (harikrishna)</p>

<p><strong>Hiroaki Kawai</strong> (kawai)</p>

<p><strong>Isaac Chiang</strong> (isaacchiang)</p>

<p><strong>Jason Bausewein</strong> (jbausewein)</p>

<p><strong>Jayapal</strong> (jayapal)</p>

<p><strong>Jessica Tomechak</strong> (jtomechak)</p>

<p><strong>Jessica Wang</strong> (jessicawang)</p>

<p><strong>Karen Vuong</strong> (karenv)</p>

<p><strong>Kelcey Damage</strong> (kdamage)</p>

<p><strong>Kelven Yang</strong> (kelveny)</p>

<p><strong>Kirk Kosinski</strong> (kirk)</p>

<p><strong>Kishan</strong> (kishan)</p>

<p><strong>Koushik Das</strong> (koushik)</p>

<p><strong>Laszlo Hornyak</strong> (kocka)</p>

<p><strong>Likitha Shetty</strong> (likithas)</p>

<p><strong>Marco Sinhoreli</strong> (marcos)</p>

<p><strong>Mice Xia</strong> (mice)</p>

<p><strong>Min Chen</strong> (mchen)</p>

<p><strong>Murali Mohan Reddy</strong> (muralireddy)</p>

<p><strong>Nitin</strong> (nitin)</p>

<p><strong>Noa Resare</strong> (noa)</p>

<p><strong>Nux</strong> (nux)</p>

<p><strong>Olga Smola</strong> (olgasmola)</p>

<p><strong>Paul Angus</strong> (paul_a)</p>

<p><strong>Phong Nguyen</strong> (pnguyen)</p>

<p><strong>Pierre-Yves Rischard</strong> (pyr)</p>

<p><strong>Prachi Damle</strong> (prachidamle)</p>

<p><strong>Pranav Saxena</strong> (pranavs)</p>

<p><strong>Radhika Nair</strong> (radhika)</p>

<p><strong>Rajesh Battala</strong> (rajeshbattala)</p>

<p><strong>Remi Bergsma</strong> (remi)</p>

<p><strong>Rene Moser</strong> (resmo)</p>

<p><strong>Rohit Yadav</strong> (bhaisaab)</p>

<p><strong>Sailaja Mada</strong> (sailajamada)</p>

<p><strong>Saksham Srivastava</strong> (saksham)</p>

<p><strong>Sam Robertson</strong> (slriv)</p>

<p><strong>Sangeetha Hariharan</strong> (sangeethah)</p>

<p><strong>Sanjay Tripathi</strong> (sanjaytripathi)</p>

<p><strong>Sanjeev Neelarapu</strong> (sanjeev)</p>

<p><strong>Santhosh</strong> (santhoshedukulla)</p>

<p><strong>Sateesh Chodapuneedi</strong> (sateesh)</p>

<p><strong>Sheng Yang</strong> (yasker)</p>

<p><strong>Sonny Heng Chhen</strong> (schhen)</p>

<p><strong>Sowmya Krishnan</strong> (sowmya)</p>

<p><strong>Srikanteswararao Talluri</strong> (talluri)</p>

<p><strong>Sudhap</strong> (sudhap)</p>

<p><strong>Toshiaki Hatano</strong> (haeena)</p>

<p><strong>Venkata Swamy</strong> (swamy)</p>

<p><strong>Vijayendra Bhamidipati</strong> (vijayendrabvs)</p>

<p><strong>Wei Zhou</strong> (weizhou)</p>

<p><strong>Wilder Rodrigues</strong> (ekho)</p>

<p><strong>Will Stevens</strong> (swill)</p>

<p><strong>Xin Zhang</strong> (frankzhang)</p>

<p><strong>Yoshikazu Nojima</strong> (ynojima)</p>


            <footer>
                <p>Copyright © 2015 The Apache Software Foundation, Licensed under the Apache License, Version 2.0. <br/>
                "Apache", "CloudStack", "Apache CloudStack", the Apache CloudStack logo, the Apache CloudStack Cloud Monkey logo and the Apache feather logos are registered trademarks or trademarks of The Apache Software Foundation.</p>
                <p><a href="/trademark-guidelines.html">Apache CloudStack Trademark Usage</a> - <a href="/bylaws.html">Apache CloudStack Community ByLaws</a></p>
            </footer>

        </div>
    </div>
</div>
  </body>
</html>
