.blog-container {
}

.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  font-size: 1.0rem;
}

.sidebarItem {
  margin-top: 0.7rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
  padding: 2px 2px 2px 10px;
}

.sidebarItemLink:hover {
  color: var(--ifm-color-primary-lightest) !important;
  text-decoration: none;
  padding: 2px 2px 2px 10px;
}

.sidebarItemLinkActive {
  color: #fff;
  background-color: var(--ifm-color-primary);
  border-radius: 8px;
  padding: 2px 2px 2px 10px;
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
