#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing,
#  software distributed under the License is distributed on an
#  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
#  specific language governing permissions and limitations
#  under the License.

name: Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    if: github.repository_owner == 'apache'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16.x
          cache: yarn
      - run: |
          yarn install --frozen-lockfile
          yarn build
          cp .asf.yaml ./build/.asf.yaml
          export WWW_COMMIT=`git rev-parse HEAD`

#      - name: Publish PR change to staging site
#        uses: peaceiris/actions-gh-pages@v3
#        if: github.event_name == 'pull_request'
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_branch: staging-site
#          publish_dir: ./build
#          destination_dir: ./
#          user_name: 'github-actions[bot]'
#          user_email: 'github-actions[bot]@users.noreply.github.com'
#          commit_message: 'Automated CloudStack https://cloudstack.staged.apache.org staging website deployment with cloudstack-www branch ${{ github.event.inputs.branch }}@${{ env.WWW_COMMIT }}'
#          #force_orphan: true
#
#      - name: Comment for PR staging website
#        uses: peter-evans/create-or-update-comment@c9fcb64660bc90ec1cc535646af190c992007c32
#        if: github.event_name == 'pull_request'
#        with:
#          issue-number: ${{ github.event.pull_request.number }}
#          body: |
#            Your latest pull request changes are published to staging website
#            https://cloudstack.staged.apache.org

      - name: Publish production website
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: asf-site
          publish_dir: ./build
          destination_dir: ./
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: 'Automated CloudStack website deployment completed on branch ${{ github.event.inputs.branch }}@${{ env.WWW_COMMIT }}'
          #force_orphan: true
